#!/usr/bin/python3
import irctestframework.irctest

m = irctestframework.irctest.IrcTest()
c1a = m.new('c1a')
m.connect()

m.send(c1a, "RULES")
m.expect(c1a, "RULES output 308 (header)", ":.+ 308 $me :- irc.* Server Rules")
m.expect(c1a, "RULES output 232 (text)", ":.+ 232 $me :- This are the rules")
m.expect(c1a, "RULES output 309 (end)", ":.+ 309 $me :End of RULES command")
m.clearlog()
print
